<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253539472853-kuk4rpadcgq8eqhsscdk9rogs749sbri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253539472853-kuk4rpadcgq8eqhsscdk9rogs749sbri</string>
	<key>API_KEY</key>
	<string>AIzaSyDpqdD7Nd-sVO6xwc6PzrzOubB1ZY6EFf8</string>
	<key>GCM_SENDER_ID</key>
	<string>253539472853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter2FormsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-notificaciones-ad729</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notificaciones-ad729.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253539472853:ios:30025f7f3d135163b1595c</string>
</dict>
</plist>